@import './shared.scss';

* {
  box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $colour-body;
  font-family: $font-body;
  font-size: 100%;
  line-height: 1.6;
  height: 100%;
  padding: 0;
  margin: 0;

  @include m-down {
    font-size: 90%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
}

h1 {
  font-size: $size-h1;
}

h2 {
  font-size: $size-h2;
  margin-top: $size-xl;
  margin-bottom: $size-m;
}

h3 {
  font-size: $size-h3;
  margin: $size-m 0;
}

a {
  border-bottom: 2px solid $colour-primary;
  color: $colour-primary;
  text-decoration: none;
  transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;

  &:hover {
    border-color: rgba($colour-primary, 0);
    text-decoration: none;
  }

  &:visited {
    color: $colour-body;
    border-color: $colour-body;
  }

  &.router-link-exact-active {
    color: $colour-primary;
  }

  &.link-plain {
    border-bottom: none;
    color: $colour-body;
  }
}

p {
  margin-top: $size-m;
}

#app {
  font-size: $size-body;
}

.main-col {
  max-width: $size-main-col-w;
  margin-right: auto;
  margin-left: auto;

  @include m-down {
    width: 85%;
  }
}

.main-col-inset {
  margin-left: auto;
  margin-right: auto;

  @include m-up {
    width: 65%;
  }
}

.main-col-outset {
  padding: $size-m;

  @include l-only {
    border-radius: 5px;
  }

  @include m-down {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.btn {
  display: inline-block;
  border-radius: 100px;
  font-family: $font-btns;
  font-size: $size-label;
  font-weight: bold;
  line-height: 1;
  padding: $size-btn-padding;
  text-decoration: none;

  &.btn-primary {
    border: none;
    background-color: $colour-primary;
    color: $colour-inverse;
  }

  &.btn-secondary {
    border: 1px solid $colour-primary;
    color: $colour-primary;
  }
}

.btn-play-inline {
  .app-listen-button,
  .app-listen-icon-playing {
    vertical-align: top;
  }
}

.list-plain {
  list-style: none;
  padding-left: 0;
}

.audio-with-avatar {
  overflow: auto;

  .app-face {
    border: 2px solid $colour-primary;
    margin-right: $size-s;
    float: left;
    height: 57px;

    @include m-down {
      height: 52px;
    }
  }
}

.align-centre {
  text-align: center;
}

.card {
  border: 1px solid $colour-primary-light;
  border-radius: 5px;
}

.sectioning-margin {
  margin-top: $size-xl;
  margin-bottom: $size-xl;
}

.bg-light {
  background: $colour-light;
}

.guide-nav {
  display: flex;
  justify-content: space-between;
}
