@import './shared.scss';

* {
  box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $colour-body;
  font-family: $font-body;
  font-size: 100%;
  line-height: 1.6;
  height: 100%;
  padding: 0;
  margin: 0;

  @include m-down {
    font-size: 96%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
}

h1 {
  font-size: $size-h1;
  font-weight: normal;
}

h2 {
  font-size: $size-h2;
  font-weight: normal;
}

h3 {
  font-size: $size-h3;
  margin: $size-m 0;
}

a {
  border-bottom: 2px solid $colour-primary;
  color: $colour-primary;
  text-decoration: none;
  transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;

  &:hover {
    border-color: rgba($colour-primary, 0);
    text-decoration: none;
  }

  &:visited {
    color: $colour-body
  }

  &.router-link-exact-active {
    color: $colour-accent;
  }
}

p {
  line-height: 1.5;
}

figcaption {
  color: $colour-body-light;
  font-weight: bold;
}

#app {
  font-size: $size-body;
}

.main-col {
  max-width: $size-main-col-w;
  margin-right: auto;
  margin-left: auto;

  @include before($size-main-col-w) {
    width: 85%;
  }
}

.contain-margin {
  overflow: auto;
}

.align-centre {
  text-align: center;
}

.natural-margins {
  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.s-hide {
  @include s-only {
    display: none;
  }
}

.btn {
  display: inline-block;
  border-radius: 5px;
  font-family: $font-btns;
  font-size: $size-label;
  font-weight: bold;
  line-height: 1;
  padding: $size-btn-padding-v $size-btn-padding-h;
  text-decoration: none;

  &.btn-primary {
    border: none;
    background-color: $colour-primary;
    color: $colour-inverse;
  }

  &.btn-secondary {
    border: 1px solid $colour-primary;
    color: $colour-primary;
  }
}

.btn-play-inline {
  .app-listen-button,
  .app-listen-icon-playing {
    vertical-align: top;
  }
}
