@import './responsive.scss';

@function in-rems($n, $base: 16) {
  @return ($n / $base) * 1rem;
};

@function colour($key) {
  @return map-get($colours, $key);
}

$colours: (
  blue-bright: #2f72fb,
  blue-light: #e5e9f3,
  blue-faint: #f8faff,
  grey-dark: #2a3c57,
  grey-light: #66758D,
);


$colour-primary: colour(blue-bright);
$colour-primary-light: #e5e9f3;
$colour-light: #f8faff;
$colour-body: #2a3c57; 
$colour-body-light: #5e6975;
$colour-inverse: rgba(#fff, 5%);

$font-body: quasimoda, effra, sans-serif;
$font-headings: azo-sans-web, effra, quasimoda, sans-serif;
$font-btns: azo-sans-web, effra, quasimoda, sans-serif;

$size-label: in-rems(14);
$size-listen: in-rems(18);
$size-body: in-rems(24);
$size-h3: in-rems(24);
$size-h2: in-rems(36);
$size-h1: in-rems(48);

$size-xs: in-rems(10);
$size-s: in-rems(20);
$size-m: in-rems(30);
$size-xl: in-rems(50);
$size-xxl: in-rems(100);

$size-main-col-w: in-rems(650);
$size-btn-padding: in-rems(12);
