{% extends "guide_base.html" %}

{% block guide %}
    <section>
        <h1>Alphabet</h1>

        <p class="emoji-header">💪</p>

        <p>If you’ve read the other guides so far, you might already have picked up some idea
            about which Greek letters are which.</p>

        <p>There are only 24 letters in the Greek alphabet, so it’s even less to learn than
            English, and a bunch of them make the same sound as each other and their English
            counterparts.</p>

        <p>Here’s the whole alphabet:</p>

        <figure class="alphabet section">
            <p>Α Β Γ Δ Ε Ζ Η Θ Ι Κ Λ Μ Ν Ξ Ο Π Ρ Σ Τ Υ Φ Χ Ψ Ω</p>
            <p>α β γ δ ε ζ η θ ι κ λ μ ν ξ ο π ρ σ,ς τ υ φ χ ψ ω</p>
        </figure>

        <p>Some are familiar: Α, Ε, Ζ, Ι, etc., but others totally not. What on earth is a Ξ, or a
            Ψ? We’ll plumb the murky alphabetical depths in small groups of letters to find out.</p>
    </section>
{% endblock %}