{% extends "templates/base.html" %}
{% import "templates/macros.html" as macros %}

{% block title %}{{ super() }} • {{ guide.title }}{% endblock %}

{% block body %}
    <section>
        <h1>{{ guide.title }}</h1>

        <p class="emoji-header">🏩 ❤️</p>

        <p>If you’re lucky enough to have found yourself a Greek partner, you might want to be
            able to say things to them in Greek.</p>

        <p>Let’s start big:</p>

        <div class="section flex-container">
            {% set example = guide.examples.i_love_you %}
            {{ macros.example(example.greek, example.latin, example.meaning) }}
        </div>

        <p><i>Σ’αγαπώ</i> (sa-ga-PO) is short for <i>σε αγαπώ</i>—literally <i>‘you I love’</i>.
            You can say this to family members as well as a partner.</p>

        <p>It’s rough equivalent in English letters is <i>’s’agapo’</i>, with the emphasis on the
            last ‘o’.</p>

        <p>Extra points if you put your hands together on your chest and look to the sky like
            it’s made of puppies while you say it.</p>

        <p>Extra extra points if you add <i>πολύ</i> (po-LEE—<i>‘a lot’</i>) to the end and smoosh
            the words together to make <i>σ’αγαπώπολύυυυυυυυυ</i> (sagapopo-LEEEEEEEEE).</p>

        <p>If someone says it to you first, you can say <i>κι εγώ σ’αγαπώ</i> (kye-GO sa-ga-PO)
            which means <i>‘I love you too’</i>.</p>

        <div class="section flex-container">
            {% set example = guide.examples.my_love %}
            {{ macros.example(example.greek, example.latin, example.meaning) }}

            {% set example = guide.examples.babe %}
            {{ macros.example(example.greek, example.latin, example.meaning) }}
        </div>

        <p>These are kind of opposite ends of the same spectrum.</p>

        <p><i>Αγάπη μου</i> (ag-AP-ee moo) is like <i>‘darling’</i> or <i>‘love’</i> and what
            you’d use if you’re being cutesy. It can be used with family members too… in a
            non-weird way.</p>

        <p><i>Μωρό μου</i> (mo-RO moo) literally means <i>‘my baby’</i>. You might hear
            <i>ε μορώ</i> on its own too, from sleazy guys in bars (or the street, even) if
            you’re an attractive woman.</p>
    </section>

    <section class="abs-container">
        <a href="{{ url('guide', slug=guide.next_id) }}" class="button-primary x-bright abs-right">Next</a>
    </section>
{% endblock %}