
{% extends "base.html" %}

{% block title %}{{ super() }} &middot; About{% endblock %}

{% block body %}
    <section>
        <h1>What is this website?</h1>

        <img class="faces" src="/img/faces.png" srcset="/img/faces@2x.png 2x" alt="Our faces">

        <p>This website is a place to learn Modern Greek made by Maggie and Martin.
           Those are our faces.</p>

        <p>Maggie is a real Greek person, with natively-fluent English abilities, and Martin
           has spent hundreds of hours learning the weird intricacies of Greek and other
           languages.</p>

        <p>During his studying he was frustrated by the lack of Modern Greek resources, so
           decided that he should rope Maggie into helping make his own.</p>

        <p>We’re interested in learning other languages too! If you want to do a language
           swap for English or Greek, or chat to us in general,
           <a href="mailto:martinallison@gmail.com">send us an email</a>.</p>
    </section>
{% endblock %}