.col .row {
  margin-left: -2.1rem;
  margin-right: -2.1rem; }

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 2.1rem;
    min-height: 1px; }
    .row .col[class*="push-"], .row .col[class*="pull-"] {
      position: relative; }
    .row .col.s1 {
      width: 8.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s2 {
      width: 16.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s3 {
      width: 25%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s4 {
      width: 33.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s5 {
      width: 41.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s6 {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s7 {
      width: 58.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s8 {
      width: 66.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s9 {
      width: 75%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s10 {
      width: 83.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s11 {
      width: 91.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s12 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.offset-s1 {
      margin-left: 8.3333333333%; }
    .row .col.pull-s1 {
      right: 8.3333333333%; }
    .row .col.push-s1 {
      left: 8.3333333333%; }
    .row .col.offset-s2 {
      margin-left: 16.6666666667%; }
    .row .col.pull-s2 {
      right: 16.6666666667%; }
    .row .col.push-s2 {
      left: 16.6666666667%; }
    .row .col.offset-s3 {
      margin-left: 25%; }
    .row .col.pull-s3 {
      right: 25%; }
    .row .col.push-s3 {
      left: 25%; }
    .row .col.offset-s4 {
      margin-left: 33.3333333333%; }
    .row .col.pull-s4 {
      right: 33.3333333333%; }
    .row .col.push-s4 {
      left: 33.3333333333%; }
    .row .col.offset-s5 {
      margin-left: 41.6666666667%; }
    .row .col.pull-s5 {
      right: 41.6666666667%; }
    .row .col.push-s5 {
      left: 41.6666666667%; }
    .row .col.offset-s6 {
      margin-left: 50%; }
    .row .col.pull-s6 {
      right: 50%; }
    .row .col.push-s6 {
      left: 50%; }
    .row .col.offset-s7 {
      margin-left: 58.3333333333%; }
    .row .col.pull-s7 {
      right: 58.3333333333%; }
    .row .col.push-s7 {
      left: 58.3333333333%; }
    .row .col.offset-s8 {
      margin-left: 66.6666666667%; }
    .row .col.pull-s8 {
      right: 66.6666666667%; }
    .row .col.push-s8 {
      left: 66.6666666667%; }
    .row .col.offset-s9 {
      margin-left: 75%; }
    .row .col.pull-s9 {
      right: 75%; }
    .row .col.push-s9 {
      left: 75%; }
    .row .col.offset-s10 {
      margin-left: 83.3333333333%; }
    .row .col.pull-s10 {
      right: 83.3333333333%; }
    .row .col.push-s10 {
      left: 83.3333333333%; }
    .row .col.offset-s11 {
      margin-left: 91.6666666667%; }
    .row .col.pull-s11 {
      right: 91.6666666667%; }
    .row .col.push-s11 {
      left: 91.6666666667%; }
    .row .col.offset-s12 {
      margin-left: 100%; }
    .row .col.pull-s12 {
      right: 100%; }
    .row .col.push-s12 {
      left: 100%; }
    @media only screen and (min-width: 540px) {
      .row .col.m1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.offset-m1 {
        margin-left: 8.3333333333%; }
      .row .col.pull-m1 {
        right: 8.3333333333%; }
      .row .col.push-m1 {
        left: 8.3333333333%; }
      .row .col.offset-m2 {
        margin-left: 16.6666666667%; }
      .row .col.pull-m2 {
        right: 16.6666666667%; }
      .row .col.push-m2 {
        left: 16.6666666667%; }
      .row .col.offset-m3 {
        margin-left: 25%; }
      .row .col.pull-m3 {
        right: 25%; }
      .row .col.push-m3 {
        left: 25%; }
      .row .col.offset-m4 {
        margin-left: 33.3333333333%; }
      .row .col.pull-m4 {
        right: 33.3333333333%; }
      .row .col.push-m4 {
        left: 33.3333333333%; }
      .row .col.offset-m5 {
        margin-left: 41.6666666667%; }
      .row .col.pull-m5 {
        right: 41.6666666667%; }
      .row .col.push-m5 {
        left: 41.6666666667%; }
      .row .col.offset-m6 {
        margin-left: 50%; }
      .row .col.pull-m6 {
        right: 50%; }
      .row .col.push-m6 {
        left: 50%; }
      .row .col.offset-m7 {
        margin-left: 58.3333333333%; }
      .row .col.pull-m7 {
        right: 58.3333333333%; }
      .row .col.push-m7 {
        left: 58.3333333333%; }
      .row .col.offset-m8 {
        margin-left: 66.6666666667%; }
      .row .col.pull-m8 {
        right: 66.6666666667%; }
      .row .col.push-m8 {
        left: 66.6666666667%; }
      .row .col.offset-m9 {
        margin-left: 75%; }
      .row .col.pull-m9 {
        right: 75%; }
      .row .col.push-m9 {
        left: 75%; }
      .row .col.offset-m10 {
        margin-left: 83.3333333333%; }
      .row .col.pull-m10 {
        right: 83.3333333333%; }
      .row .col.push-m10 {
        left: 83.3333333333%; }
      .row .col.offset-m11 {
        margin-left: 91.6666666667%; }
      .row .col.pull-m11 {
        right: 91.6666666667%; }
      .row .col.push-m11 {
        left: 91.6666666667%; }
      .row .col.offset-m12 {
        margin-left: 100%; }
      .row .col.pull-m12 {
        right: 100%; }
      .row .col.push-m12 {
        left: 100%; } }
    @media only screen and (min-width: 780px) {
      .row .col.l1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.offset-l1 {
        margin-left: 8.3333333333%; }
      .row .col.pull-l1 {
        right: 8.3333333333%; }
      .row .col.push-l1 {
        left: 8.3333333333%; }
      .row .col.offset-l2 {
        margin-left: 16.6666666667%; }
      .row .col.pull-l2 {
        right: 16.6666666667%; }
      .row .col.push-l2 {
        left: 16.6666666667%; }
      .row .col.offset-l3 {
        margin-left: 25%; }
      .row .col.pull-l3 {
        right: 25%; }
      .row .col.push-l3 {
        left: 25%; }
      .row .col.offset-l4 {
        margin-left: 33.3333333333%; }
      .row .col.pull-l4 {
        right: 33.3333333333%; }
      .row .col.push-l4 {
        left: 33.3333333333%; }
      .row .col.offset-l5 {
        margin-left: 41.6666666667%; }
      .row .col.pull-l5 {
        right: 41.6666666667%; }
      .row .col.push-l5 {
        left: 41.6666666667%; }
      .row .col.offset-l6 {
        margin-left: 50%; }
      .row .col.pull-l6 {
        right: 50%; }
      .row .col.push-l6 {
        left: 50%; }
      .row .col.offset-l7 {
        margin-left: 58.3333333333%; }
      .row .col.pull-l7 {
        right: 58.3333333333%; }
      .row .col.push-l7 {
        left: 58.3333333333%; }
      .row .col.offset-l8 {
        margin-left: 66.6666666667%; }
      .row .col.pull-l8 {
        right: 66.6666666667%; }
      .row .col.push-l8 {
        left: 66.6666666667%; }
      .row .col.offset-l9 {
        margin-left: 75%; }
      .row .col.pull-l9 {
        right: 75%; }
      .row .col.push-l9 {
        left: 75%; }
      .row .col.offset-l10 {
        margin-left: 83.3333333333%; }
      .row .col.pull-l10 {
        right: 83.3333333333%; }
      .row .col.push-l10 {
        left: 83.3333333333%; }
      .row .col.offset-l11 {
        margin-left: 91.6666666667%; }
      .row .col.pull-l11 {
        right: 91.6666666667%; }
      .row .col.push-l11 {
        left: 91.6666666667%; }
      .row .col.offset-l12 {
        margin-left: 100%; }
      .row .col.pull-l12 {
        right: 100%; }
      .row .col.push-l12 {
        left: 100%; } }

.xs {
  width: 0.66rem;
  height: 0.66rem; }

.s {
  width: 0.75rem;
  height: 0.75rem; }

.m {
  width: 1rem;
  height: 1rem; }

.l {
  width: 1.5rem;
  height: 1.5rem; }

@media only screen and (min-width: 540px) {
  .s-only {
    display: none; } }

@media only screen and (max-width: 540px) {
  .m-up {
    display: none; } }

@media only screen and (max-width: 540px) {
  .m-only {
    display: none; } }
@media only screen and (min-width: 780px) {
  .m-only {
    display: none; } }

@media only screen and (min-width: 780px) {
  .m-down {
    display: none; } }

@media only screen and (max-width: 780px) {
  .l-only {
    display: none; } }

.no-underline {
  text-decoration: none; }

.emoji-icon-left {
  display: inline-block;
  margin-right: 8px; }

.emoji-icon-right {
  display: inline-block;
  margin-left: 8px; }

.text-centered {
  text-align: center; }

.float-container {
  overflow: hidden; }

.col {
  margin-left: 0.5rem; }
  .col:first-child {
    margin-left: 0; }

.right {
  float: right; }

.left {
  float: left; }

* {
  box-sizing: border-box; }

html {
  color: #2a3c57;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 125%;
  margin: 0;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  text-decoration-skip: ink; }
  @media only screen and (min-width: 540px) {
    html {
      font-size: 150%; } }

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif; }

h1 {
  font-size: 2rem;
  margin: 4.2rem 0 2.1rem 0;
  text-align: center; }

h2 {
  font-size: 1.5rem;
  margin: 2.1rem 0 1rem 0; }

h3 {
  font-size: 1rem;
  margin: 2.1rem 0 1rem 0; }

p, li {
  line-height: 1.5; }

a {
  color: #2a3c57; }
  a:visited {
    color: #2a3c57; }

footer {
  margin: 4.2rem 0 2.1rem 0;
  text-align: center; }

table {
  border-spacing: 0;
  margin: 2.1rem 0; }
  @media only screen and (max-width: 540px) {
    table {
      width: 100%; } }
  table thead {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  table th {
    border-top: 1px solid #d1d5da;
    border-bottom: 1px solid #d1d5da; }
  table th:first-child {
    border-left: 1px solid #d1d5da;
    border-radius: 5px 0 0 5px; }
  table th:last-child {
    border-right: 1px solid #d1d5da;
    border-radius: 0 5px 5px 0; }
  table tr:last-child td {
    border-bottom: 0; }
  table th, table td {
    padding: 0.5rem 0.39rem;
    text-align: center; }
    @media only screen and (min-width: 540px) {
      table th, table td {
        padding: 1rem; } }
  table td {
    max-width: 10rem; }

aside {
  box-sizing: border-box;
  margin-top: 1rem; }
  aside *:first-child {
    margin-top: 0; }
  aside *:last-child {
    margin-bottom: 0; }

i {
  padding: 0.11rem 0.39rem;
  background: rgba(255, 99, 71, 0.08);
  border-radius: 5px; }

figure {
  margin-left: 0;
  margin-right: 0; }

button {
  border: none; }

.emoji-header {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1rem; }

.main-col {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 90%; }

.button-primary, .button-secondary {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  padding: 8px 12px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px; }

.button-primary.dark {
  background-color: #2a3c57;
  color: rgba(255, 255, 255, 0.9); }
.button-primary.bright {
  background-color: #2f72fb;
  color: rgba(255, 255, 255, 0.9); }
.button-primary.x-bright {
  background-color: #76f4e1;
  color: #2a3c57; }
.button-primary.accent {
  background-color: tomato;
  color: rgba(255, 255, 255, 0.9); }
.button-primary.ok {
  background-color: #65f9c0;
  color: #2a3c57; }

.button-secondary {
  border: 1px solid #d1d5da; }
  .button-secondary.dark {
    border-color: #2a3c57; }
  .button-secondary.bright {
    border-color: #2f72fb; }
  .button-secondary.x-bright {
    border-color: #76f4e1; }
  .button-secondary.accent {
    border-color: tomato; }
  .button-secondary.ok {
    border-color: #65f9c0; }

.card {
  display: flex;
  position: relative; }
  .card .card-blurb {
    margin-left: 2.1rem;
    margin-right: 2.1rem; }
  .card .card-icon {
    line-height: 6.3rem;
    font-size: 3rem;
    text-align: center;
    border: 1px solid #d1d5da;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 6.3rem;
    height: 6.3rem;
    border-radius: 100%; }
    .card .card-icon.dark {
      border-color: #2a3c57; }
    .card .card-icon.bright {
      border-color: #2f72fb; }
    .card .card-icon.x-bright {
      border-color: #76f4e1; }
    .card .card-icon.accent {
      border-color: tomato; }
    .card .card-icon.ok {
      border-color: #65f9c0; }
  .card .card-cta {
    position: absolute;
    bottom: 0;
    right: 0; }

.section {
  margin-top: 2.1rem;
  margin-bottom: 2.1rem; }

.faces {
  display: block;
  margin: 4.2rem auto;
  width: 10rem; }
  @media only screen and (min-width: 780px) {
    .faces {
      width: 14em; } }

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -1rem; }
  .flex-row .flex-item {
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: calc(50% - 1rem); }
    @media only screen and (min-width: 541px) and (max-width: 779px) {
      .flex-row .flex-item {
        width: calc(25% - 1rem); } }
    @media only screen and (min-width: 780px) {
      .flex-row .flex-item {
        width: auto; } }

.eg {
  position: relative;
  min-width: 5rem;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #d1d5da;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  .eg .eg-el, .eg .eg-latin, .eg .eg-meaning {
    display: block;
    text-align: center; }
  .eg .eg-el, .eg .eg-meaning {
    font-weight: bold; }
  .eg .eg-latin {
    font-size: 0.75rem;
    font-style: italic;
    margin: 0.5rem 0;
    opacity: 0.6; }
  .eg .eg-meaning {
    align-items: center;
    border-radius: 0 0 4px 4px;
    margin-top: 1rem; }
  .eg .eg-meaning strong {
    font-weight: 900; }
  .eg .eg-audio {
    display: inline-block;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 1rem;
    height: 1rem; }

.eg.eg-letter .eg-latin {
  margin-bottom: 0; }

.letter-card {
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start; }
  .letter-card .eg {
    min-width: 6rem; }
  .letter-card .flex-item:last-child {
    flex: 1; }
  .letter-card p:first-child {
    margin-top: 0; }
  .letter-card p:last-child {
    margin-bottom: 0; }

.alphabet {
  border: 1px solid #d1d5da;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #d1d5da;
  font-weight: bold;
  padding: 0 1rem;
  text-align: center; }

.listen-inline {
  display: inline-block;
  width: 1rem;
  height: 1rem; }

/*# sourceMappingURL=main.css.map */
