{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}{{ super() }} &middot; Alphabet{% endblock %}

{% block body %}
    <section>
        <h1>Alphabetti spaghetti</h1>

        <p class="emoji">Ω 🍝 Ω</p>

        <p>The first and most obvious thing about Greek for English speakers is that it uses its
            a different alphabet. This can make it look mysterious and unknowable at first, but
            you might already recognise some letters.</p>

        <p>Some letters might be familiar from maths, various Greek-style yoghurt branding (where
            they’re totally abused!) or just because they look like some from the Latin
            alphabet—the alphabet used for English.</p>

        <p>The reason some letters look similar is that the Latin alphabet is eventually derived
            from various historic Greek ones. This might seem weird since some of the ‘same’
            letters look so different, or vice-versa, but at one time in history
            <a href="https://en.wikipedia.org/wiki/Latin_script">it all made sense</a>.</p>
    </section>

    <section>
        <h2>The alphabet</h2>

        <p>The Greek alphabet only has 24 letters to learn, and many of them make sounds familiar
            to English speakers (especially ones that know Spanish or Italian). Here they are in
            order, with their name, romanisation and <strong>basic</strong> pronunciation:</p>

        {{ macros.note() }}
            <p>Some letters have more than one pronunciation or romanisation. Don’t worry
                about that for now—we’ll go over detailed pronunciation in the next guide.</p>
        {{ macros.endnote() }}

        <table class="centered">
            <thead>
                <th>Letter</th>
                <th>Name</th>
                <th aria-label="Romanisation"></th>
                <th aria-label="Pronunciation"></th>
                <th aria-label="Listen">&nbsp;</th>
            </thead>
            <tbody>
                {% for letter in alphabet.letters %}
                <tr>
                    <td>{{ letter.upper }} • {{ letter.lower }}</td>
                    <td>{{ letter.name }} ({{ letter.romanised_name }})</td>
                    <td>{{ letter.romanisation }}</td>
                    <td{% if letter.pronunciation|length > 25 %} class="long-text"{% endif %}
                        >{{ markdown(letter.pronunciation, fragment=True) }}</td>
                    <td class="listen"><listen word="{{ letter.romanised_name }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        {{ macros.note(who="maggie") }}
            <p>See how there are two lowercase letters for σίγμα (<i>sigma</i>): ⟨σ⟩ and ⟨ς⟩?
                These are the same letter, pronounced the same, but ⟨ς⟩ is used instead of ⟨σ⟩
                <strong>only</strong> if it’s the last letter of a word.</p>

            <p>Examples: καφές (<i>kafes</i>—coffee), not καφέσ; σκύλος (<i>skilos</i>—dog)
                not σκύλοσ.</p>
        {{ macros.endnote() }}
    </section>

    <section>
        <h2>Letter combinations</h2>

        <p>You might notice that, so far, there are some sounds common to English that are missing
            in Greek: <strong>b</strong>us, <strong>d</strong>oor and <strong>g</strong>ame, amongst
            others. These sounds do exist in Greek (more or less), but they’re written with two
            letters rather than one.</p>

        <p>The following table shows those and other letter combinations (although not 100%
            correct, we’ll call them <em>digraphs</em> from now on) that produce sounds you might
            not expect:</p>

        <table class="centered">
            <thead>
                <th>Digraph</th>
                <th aria-label="Romanisation"></th>
                <th aria-label="Pronunciation"></th>
                {#<th aria-label="Listen">&nbsp;</th>#}
            </thead>
            <tbody>
                {% for digraph in alphabet.digraphs %}
                <tr>
                    <td>{{ digraph.lower }}</td>
                    <td>{{ digraph.romanisation }}</td>
                    <td{% if digraph.pronunciation|length > 25 %} class="long-text"{% endif %}
                        >{{ markdown(digraph.pronunciation, fragment=True) }}</td>
                    {# TODO: waiting for files
                        <td><a href="#" data-play="{{ digraph.romanisation }}"><img
                            src="{{ url('/img/audio.svg') }}" class="listen"
                            alt="listen to {{ digraph.romanisation }} pronunciation"></a></td>#}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <aside><p><strong>Note:</strong> ⟨ηυ⟩ and ⟨υι⟩ are extremely rare.</p></aside>

        <p>When reading these digraphs, try to get used to reading them as one thing. For example,
            with ⟨ει⟩, try seeing the whole thing as ⟨ει⟩, instead of seeing it as ⟨ε + ι⟩. This
            works for the vast majority of Greek words, but in a later guide, when we introduce
            word stress, we’ll see it doesn’t <em>always</em> work.</p>
    </section>

    <section>
        <h2>Romanisation</h2>

        <p>The tables above include the romanisation for each letter and digraph. This simply
            shows how Greek letters can be transcribed in the Latin alphabet.</p>

        <p>Romanisation has little to do with pronunciation in some cases (δέλτα—<i>delta</i>—is
            romanised as ⟨d⟩, but not pronounced as such) but it’s a pretty good mechanism for
            getting used to recognising individual Greek letters.</p>

        <p>When it comes to reading words, though, it’s better to get used to seeing and reading
            the Greek letters, and not rely on the romanisations. After the first few guides,
            we’ll do away with the romanisations when we introduce new Greek words.</p>
    </section>

    <section>
        <h2>Done</h2>

        <p>That’s pretty much it for the Greek alphabet. After some practice, you’ll be able to
            make pretty good guesses at how to pronounce many Greek words—but that’s not all
            there is to pronunciation.</p>

        <p>After you start to get the hang of recognising the letters, head to the next guide to
            learn how to read words and start pronouncing them like a native!</p>
    </section>
{% endblock %}