{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block body %}
    <section>
        <h1>Learn Greek!</h1>

        <p class="emoji">🇬🇷 🔱 💃🏻 ☀️ 🛥️</p>

        <p>Hello! Welcome to Greek guides. Here you can find some guides to help with learning
            Modern Greek.</p>

        <p>Maybe you’re going to Greece on holiday, have a Greek partner or just want to learn
            Greek because it has cool letters and sounds nice. Either way, there's not much out
            there if you want to learn Modern Greek, which is why we put some guides together.</p>

        <p><a href="{{ url('/about') }}">Who are we</a>? Maggie, a native Greek, and Martin,
            someone who's learning Greek. We're not linguists, so the guides are primarily geared
            around being practical.</p>
    </section>

    <section>
        <h2>Basics</h2>

        <p>Where to start with Greek, and enough to be able to impress some Greeks if you go
            on holiday.</p>

        <div class="guides">
            <div>
                <a href="{{ url('/alphabet') }}">
                    <div class="guide-icon">
                        <p>α&mdash;ω</p>
                    </div>
                    <h3>Alphabet</h3>
                </a>
            </div>
        </div>
    </section>
{% endblock %}