{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block body %}
    <section>
        <h1>Learn Greek!</h1>

        <p class="emoji">🇬🇷 🔱 💃🏻 ☀️ 🛥️</p>

        <p>Maybe you’re going to Greece on holiday, have a Greek partner or just want to
           learn Greek because it has cool letters and sounds nice. Either way, there’s not
           much out there for Modern Greek learners, so here are some practical guides!</p>

        <p>Rest assured, they're written by an actual Greek and someone who's learnt
           Greek.</p>
    </section>

    <section>
        <h2>Basics</h2>

        <p>Where to start with Greek, and enough to be able to impress some Greeks if you go
           on holiday.</p>

        <div class="guides">
            <div>
                <a href="/alphabet">
                    <div class="guide-icon">
                        <p>α&mdash;ω</p>
                    </div>
                    <h3>Alphabet & reading</h3>
                </a>
            </div>
        </div>
    </section>
{% endblock %}