@mixin nice-underlines {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    text-decoration-skip: ink;
}

* {
    box-sizing: border-box;
}

html {
    color: $colour-dark;
    font-family: $font-body;
    font-size: 125%;
    margin: 0;
    @include nice-underlines;

    @include m-up {
        font-size: 150%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

h1 {
    font-size: $text-xl;
    margin: $space-l 0 $space-m 0;
    text-align: center;
}

h2 {
    font-size: $text-l;
    margin: $space-m 0 $space-s 0;
}

h3 {
    font-size: $text-m;
    margin: $space-m 0 $space-s 0;
}

p, li {
    line-height: 1.5;
}

a {
    color: $colour-dark;

    &:visited {
        color: $colour-dark;
    }
}

footer {
    margin: $space-l 0 $space-m 0;
    text-align: center;
}

table {
    border-spacing: 0;
    margin: $space-m 0;

    @include s-only {
        width: 100%;
    }

    thead {
        border-radius: 5px;
        box-shadow: shadow();
    }

    th {
        border-top: border();
        border-bottom: border();
    }

    th:first-child {
        border-left: border();
        border-radius: 5px 0 0 5px;
    }

    th:last-child {
        border-right: border();
        border-radius: 0 5px 5px 0;
    }

    tr:last-child td {
        border-bottom: 0;
    }

    th, td {
        padding: $space-xs $space-xs - 0.11rem;
        text-align: center;

        @include m-up {
            padding: $space-s;
        }
    }

    td {
        max-width: 10rem;
    }
}

aside {
    box-sizing: border-box;
    margin-top: $space-s;

    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

i {
    padding: $text-adjustment $space-xs - $text-adjustment;
    background: rgba($colour-accent, .08);
    @include rounded;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

button {
    border: none;
}