$space-sizes: (
    none: 0,
    xs: $space-xs,
    s: $space-s,
    m: $space-m,
    l: $space-l
);

$text-sizes: (
    xs: $text-xs,
    s: $text-s,
    m: $text-m,
    l: $text-l
);

@each $size, $var in $text-sizes {
    .#{$size} {
        width: $var;
        height: $var;
    }
};

.s-only {
    @include m-up {
        display: none;
    }
}

.m-up {
    @include s-only {
        display: none;
    }
}

.m-only {
    @include s-only {
        display: none;
    }

    @include l-only {
        display: none;
    }
}

.m-down {
    @include l-only {
        display: none;
    }
}

.l-only {
    @include m-down {
        display: none;
    }
}

.no-underline {
    text-decoration: none;
}

.emoji-icon-left {
    display: inline-block;
    margin-right: 8px;
}

.emoji-icon-right {
    display: inline-block;
    margin-left: 8px;
}

.text-centered {
    text-align: center;
}

.float-container {
    overflow: hidden;
}

.col {
    margin-left: $space-xs;

    &:first-child {
        margin-left: 0;
    }
}

.right {
    float: right;
}

.left {
    float: left;
}