@import "theme";
@import "mixins";
@import "sizes";
@import "grid";

@import "generics";
@import "base";

.emoji-header {
    font-size: $text-l;
    text-align: center;
    letter-spacing: 1rem;
}

.main-col {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 90%;
}

%button {
    display: block;
    font-weight: bold;
    font-size: $text-m;
    padding: 8px 12px;
    text-decoration: none;
    text-transform: uppercase;

    @include rounded;
}

.button-primary {
    @extend %button;
    @include colour-variants(background-color);
}

.button-secondary {
    @extend %button;
    border: border();
    @include colour-variants(border-color);
}

.card {
    display: flex;
    position: relative;

    .card-blurb {
        margin-left: $space-m;
        margin-right: $space-m;
    }

    .card-icon {
        line-height: $space-m * 3;
        font-size: $text-m * 3;
        text-align: center;

        @include raised;
        @include circular($radius: $space-m * 1.5);
        @include colour-variants(border-color);
    }

    .card-cta {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.section {
    margin-top: $space-m;
    margin-bottom: $space-m;
}

.faces {
    display: block;
    margin: $space-l auto;
    width: 10rem;

    @include l-only {
        width: 14em;
    }
}

.flex-row {
    $gutter: $space-s;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -$gutter;

    .flex-item {
        margin-bottom: $gutter;
        margin-left: $gutter;
        width: calc(50% - #{$gutter});

        @include m-only {
            width: calc(25% - #{$gutter});
        }

        @include l-only {
            width: auto;
        }
    }
}

.eg {
    position: relative;
    min-width: 5rem;
    padding: $space-s + 0.5rem $space-s;

    @include rounded;
    @include raised;

    .eg-el, .eg-latin, .eg-meaning {
        display: block;
        text-align: center;
    }

    .eg-el, .eg-meaning {
        font-weight: bold;
    }

    .eg-latin {
        font-size: $text-s;
        font-style: italic;
        margin: $space-xs 0;
        opacity: 0.6;
    }

    .eg-meaning {
        align-items: center;
        border-radius: 0 0 4px 4px;
        margin-top: $space-s;
    }

    .eg-meaning strong {
        font-weight: 900;
    }

    .eg-audio {
        display: inline-block;
        left: 8px;
        position: absolute;
        top: 8px;
        width: $space-s;
        height: $space-s;
    }
}

.eg.eg-letter {

    .eg-latin {
        margin-bottom: 0;
    }

}

.letter-card {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .eg {
        min-width: 6rem;
    }

    .flex-item:last-child {
        flex: 1;
    }

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.alphabet {
    @include raised;
    @include rounded;
    border: border();
    font-weight: bold;
    padding: 0 $space-s;
    text-align: center;
}

.listen-inline {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}