$space-sizes: (
    none: 0,
    xs: $space-xs,
    s: $space-s,
    med: $space-m,
    l: $space-l
);

$text-sizes: (
    xs: $text-xs,
    s: $text-s,
    med: $text-m,
    l: $text-l
);

@each $size, $var in $space-sizes {
    .v-margin-#{$size} {
        margin-top: $var;
        margin-bottom: $var;
    }

    .h-margin-#{$size} {
        margin-left: $var;
        margin-right: $var;
    }

    .v-padding-#{$size} {
        padding-top: $var;
        padding-bottom: $var;
    }

    .h-padding-#{$size} {
        padding-right: $var;
        padding-left: $var;
    }
};

@each $size, $var in $text-sizes {
    .text-#{$size} {
        font-size: $var;
    }

    .#{$size} {
        width: $var;
        height: $var;
    }
};

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.centered {
    margin-right: auto;
    margin-left: auto;
}

.container {
    overflow: auto;
    clear: both;
}

.bordered {
    border: border();
}

.s-only {
    @include m-up {
        display: none;
    }
}

.m-up {
    @include s-only {
        display: none;
    }
}

.m-only {
    @include s-only {
        display: none;
    }

    @include l-only {
        display: none;
    }
}

.m-down {
    @include l-only {
        display: none;
    }
}

.l-only {
    @include m-down {
        display: none;
    }
}

.no-underline {
    text-decoration: none;
}

.emoji-icon-left {
    display: inline-block;
    margin-right: 8px;
}

.emoji-icon-right {
    display: inline-block;
    margin-left: 8px;
}

.text-centered {
    text-align: center;
}

.shadowed {
    box-shadow: shadow();
}