$media-med: 780px;
$media-sml: 350px;

$text-x-lrg: 2rem;
$text-lrg: 1.5rem;
$text-med: 1rem;
$text-sml: 0.75rem;
$text-x-sml: 0.66rem;

$text-adjustment: 0.11rem;

$space-lrg: 4.2rem;
$space-med: 2.1rem;
$space-sml: 1rem;
$space-x-sml: 0.5rem;