@import "colours";
@import "fonts";
@import "mixins";
@import "sizes";

@import "generics";
@import "base";


.main-col {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 90%;
}

.main-nav {
    font-family: $font-heading;
    font-weight: bold;

    .home & {
        display: none;
    }
}

.alphabet {
    border-radius: 5px;
    font-weight: bold;
    padding: $space-sml;
    text-align: center;

    @include after($media-sml) {
        font-size: $text-sml - $text-adjustment;
    }

    @include after($media-med) {
        font-size: $text-med;
    }

    p {
        line-height: 1;
    }
}

[aria-label="Romanisation"]::after {
    content: "Roman.";

    @include after($media-med) {
        content: "Romanisation";
    }
}

[aria-label="Pronunciation"]::after {
    content: "Sound";
}

.collapsed-letter-name {
    font-size: $text-sml;
    font-weight: bold;
    margin-top: $space-x-sml;

    @include before($media-sml) {
        display: block;
    }
}

.note-inline {
    border-left: border($colour-bright, 10px);
    padding-left: $space-sml;
    color: rgba($colour-dark, .85);

    .note-inline-title {
        font-weight: bold;
        font-variant: all-small-caps;
    }
}

.note {
    align-items: flex-end;
    display: flex;
    overflow: visible;
    padding: 0;

   .note-inner {
        border-radius: 5px;
        border: border();
        box-sizing: border-box;
        padding: $space-sml;
    }

    .note-title {
        display: inline-block;
        font-variant: all-small-caps;
        visibility: hidden;
    }

    .note-title::after {
        content: "Note";
        font-variant: all-small-caps;
        font-weight: bold;
        visibility: visible;
    }
}

.note-person {

    .note-title {
        background-repeat: no-repeat;
        background-size: contain;
        height: $space-med;
        line-height: $space-med;
        padding-left: $space-med + $space-x-sml;
        visibility: visible;
    }
}

.note-maggie {
    .note-title::after {
        content: "Maggie says";
    }

    .note-title {
        background-image: url("#{$url-prefix}/img/maggie.png");
    }

    @include retina {
        .note-title {
            background-image: url("#{$url-prefix}/img/maggie@2x.png");
        }
    }
}

.note-martin {
    .note-title::after {
        content: "Martin says";
    }

    .note-title {
        background-image: url("#{$url-prefix}/img/martin.png");
    }

    @include retina {
        .note-title {
            background-image: url("#{$url-prefix}/img/martin@2x.png");
        }
    }
}

.guide-grid .guide-item {
    $gutter: $space-x-sml;

    box-sizing: border-box;
    float: left;
    margin-right: $gutter;
    width: calc(50% - #{$gutter});

    @include after($media-med) {
        width: calc(25% - #{$gutter});
    }

    &:nth-child(n+2) {
        margin-right: 0;
    }

    &:nth-child(n+3) {
        margin-right: $gutter;
    }

    @include after($media-med) {
        &:nth-child(n+2) {
            margin-right: $gutter;
        }

        &:nth-child(n+4) {
            margin-right: 0;
        }
    }
}

.guide-item {
    a {
        text-decoration: none;
    }

    h3 {
        font-size: $text-sml;
        margin: $space-x-sml 0;
        text-align: center;
        text-transform: uppercase;
    }
}

.guide-icon {
    align-content: center;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    height: 125px;
    justify-content: center;
    width: 100%;

    @include after($media-med) {
        height: 200px;
    }

    p {
        font-size: $text-lrg;
        margin: 0;
    }
}

.faces {
    display: block;
    margin: $space-lrg auto;
    width: 10rem;

    @include after($media-med) {
        width: 14em;
    }
}

.examples {
    $gutter: $space-sml;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -$gutter;
    margin-top: $space-med;
    margin-bottom: $space-med - $gutter;
}

.example {
    $gutter: $space-sml;

    border-radius: 5px;
    border: border();
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    float: left;
    margin-bottom: $gutter;
    margin-left: $gutter;
    width: calc(50% - #{$gutter});
    min-width: 5rem;

    @include after($media-sml) {
        width: calc(25% - #{$gutter});
    }

    @include after($media-med) {
        width: auto;
    }

    .example-greek, .example-romanisation, .example-meaning {
        display: block;
        text-align: center;
    }

    .example-greek {
        padding: $space-sml + 0.5rem $space-sml 0 $space-sml;
        position: relative;
    }

    .example-greek, .example-meaning {
        font-weight: bold;
    }

    .example-romanisation {
        font-size: $text-sml;
        margin-bottom: $space-x-sml;
        opacity: 0.6;
        padding: 0 $space-sml;
    }

    .example-meaning {
        align-items: center;
        border-radius: 0 0 4px 4px;
        display: flex;
        flex: 1;
        justify-content: center;
        padding: $space-sml;
    }

    .example-audio {
        display: inline-block;
        left: 8px;
        position: absolute;
        top: 8px;
    }
}